---
---

@import '{{ site.theme }}';
@import 'https://fonts.googleapis.com/css?family=Space+Mono';
@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css';

$color-white: #fff;
$color-text: #222;
$color-anchor: #00f;
$color-anchor-hover: #f00;

$font-arnhem: ArnhemPro, Georgia, 'Times New Roman', Times, serif;
$font-space: 'Space Mono', monospace;


@font-face {
  font-family: ArnhemPro;
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  src: 'https://dl.dropboxusercontent.com/u/9028137/fonts/ArnhemPro-Normal.woff2' format('woff2');
}


body {
  background-color: $color-white;
  color: $color-text;
  font-family: $font-arnhem;
  font-size: 17px;
}

a {
  border-bottom: 1px solid;
  color: $color-anchor;
  transition: color .25s ease-in-out;

  &:hover {
    color: $color-anchor-hover;
  }
}

b,
h1,
h2,
h3,
strong {
  font-family: $font-space;
  font-weight: 700;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

.container {
  max-width: 575px;
}
