<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Kaushik Iska's Blog</title>
    <meta name="author" content="Kaushik Iska">

  </head>
  <body>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' }}">
    <div class="wrapper container">
      <div class="row">
        <div class="twelve columns">
        {{ content }}
        </div>
      </div>
    </div>
  </body>
</html>
