<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Kaushik Iska's Blog</title>
    <meta name="author" content="Kaushik Iska">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div class="wrapper container">
      <div class="row">
        <div class="one column">&nbsp;</div>
        <div class="ten columns">
        {{ content }}
        </div>
        <div class="one column">&nbsp;</div>
      </div>
    </div>
  </body>
</html>
